<div class="d-flex p-2 mt-5  justify-content-center">
    <div class="row">

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Resolution</th>
                <th scope="col">Ip</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="cameras?.length === 0">There is no data</tr>
              <tr *ngFor="let item of cameras; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.model}}</td>
                  <td>{{item.resolution}}</td>
                  <td>{{item.ip}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" [routerLink]="['/camera-details', item.id]" title="View camera details">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger ml-3" (click)="deleteCamera(item.id, item.ip)" title="Delete this camera">
                      <i class="fa fa-trash"></i>
                  </button>
                  </td>
              </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center" >
          <pagination 
            [boundaryLinks]="true" 
            [totalItems]="this.totalCount"
            (pageChanged)="onPageChanged($event)"
            [itemsPerPage]="this.cameraParams.pageSize"
            previousText="&lsaquo;"
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;"
          >
 
          </pagination>
       </div>

    </div>
</div>
